<!--<main class="show_page_container">-->

<div class="card">
  <img class="card-img-top avatar" alt="<%=@user.username %>" src="<%=@user.photo_url %>">
  <div class="card-body">
    <h5 class="card-title"><%= @user.username %></h5>
    <p class="card-text"> <%=@user.bio %></p>
  </div>
</div>

<table class="table table-hover tour_list_table">
  <thead>
  <tr>
    <th> </th>
    <th>Tour</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Stock</th>
  </tr>
  </thead>

  <tbody>
  <% @user.products.each do |product| %>
    <tr>
      <td> <%= link_to "See Details", product_path(product), class: "btn btn-primary" %> </td>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.avg_rating %></td>
      <td><%= product.stock %></td>
    </tr>
  <% end %>

  </tbody>
</table>


<!--</main>-->