<main>
  <h2>Welcome! </h2>
  <h3><%= link_to @current_user.username, user_account_path(@current_user) %></h3>
  <p>Joined site <%= @current_user.created_at.to_date %></p>



  <div class="container" style="margin-top: 5rem">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to "Account Information", user_account_path(@current_user.id), class: "nav-link active" %>
      </li>
      <li class="nav-item">
        <%= link_to "Order History", order_history_path(@current_user.id), class: "nav-link" %>
      </li>
    </ul>
  </div>

<div class="user_account_container">
  <div class="card">
    <img class="card-img-top avatar" alt="<%=@current_user.username %>" src="<%=@current_user.photo_url %>">
    <div class="card-body">
      <h5 class="card-title"><%= @current_user.username %></h5>
      <p class="card-text"> <%=@current_user.bio %></p>
      <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Shipping Address</h5>
      <p class="card-text"> <%=@address %> </p>
      <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-primary" %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Credit Card Info</h5>
    </div>
    <%@payment_infos.each do |payment_info| %>
    <ul class="list-group">
      <li class="list-group-item">Card No.=>  <%= payment_info.credit_card_number %></li>
      <li class="list-group-item">Name on Card => <%= payment_info.credit_card_name %></li>
      <li class="list-group-item">exp => <%= payment_info.credit_card_exp %></li>
      <li class="list-group-item">CVV => <%= payment_info.credit_card_CVV %></li>
      <li class="list-group-item">Billing Address => <%= payment_info.address %></li>
      <li class="list-group-item">zip code => <%= payment_info.zip_code %></li>
    </ul>
    <%end %>
    <div class="card-body">
      <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>

</main>