
  <h2>Shopping Cart</h2>

  <%#if @items.nil? || @items.empty? %>
<!--    <button class="btn btn-secondary btn-lg float-right">Add a tour to checkout</button>-->
  <%#else %>
    <%#if @current_user.nil? || @current_user.payment_infos.empty?%>
      <%#= link_to "Checkout", new_payment_info_path, class: "btn btn-primary btn-lg float-right" %>
    <%#else %>
      <%#= link_to "Checkout", edit_payment_info_path(@current_user.payment_infos.first.id), class: "btn btn-primary btn-lg float-right" %>
    <%#end %>
  <%#end %>


  <div class="container flex-column" style="margin-top: 5rem">

    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tour</th>
        <th>Quantity of Tours</th>
        <th>Date</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
      </thead>

      <tbody>
      <%if @items.nil? || @items.empty? %>
        <tr></tr>
      <%else %>
        <%@items.each do |item| %>
          <tr>
            <%product = Product.find(item.product_id) %>
            <td><%= link_to "#{product.name}", product_path(item.product_id) %></td>
            <td class="shopping_cart_item_container">
              <%= link_to '-', subtract_path(item.id), method: :patch, class: "btn btn-info btn-sm"%>
              <%= item.quantity %>
              <%= link_to '+', add_path(item.id), method: :patch, class: "btn btn-info btn-sm"%>
            </td>
            <td><%= item.created_at %></td>
            <td><%= product.price %></td>
            <td><%= link_to "Remove", order_item_path(item.id), method: :delete, data: {confirm: "Are you sure?"}%></td>
          </tr>
        <%end %>
      <%end %>
      </tbody>
    </table>
    <% if @order.nil? %>
      <h4>Total: 0</h4>
    <%else %>
      <h4>Total: <%= @order.total_price %></h4>
    <%end %>

    <%if @items.nil? || @items.empty? %>
      <%= link_to "Add a Tour to Checkout", products_path, class: "btn btn-secondary btn-lg float-right" %>
    <%else %>
      <%if @current_user.nil? || @current_user.payment_infos.empty?%>
        <%= link_to "Checkout", new_payment_info_path, class: "btn btn-primary btn-lg float-right" %>
      <%else %>
        <%= link_to "Checkout", edit_payment_info_path(@current_user.payment_infos.first.id), class: "btn btn-primary btn-lg float-right" %>
      <%end %>
    <%end %>
  </div>


