
  <h2>Thank you for your order!</h2>

  <h3>Look forward to exploring the world with you in the tour!</h3>
<img src="https://marsmantravel.com.ph/wp-content/uploads/theworld.jpg" alt="explore the world" class="img-fluid">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tour</th>
        <th>Tour Guide</th>
        <th>Date</th>
        <th>Price</th>
      </tr>
      </thead>

      <tbody>
      <%@items.each do |item| %>
        <tr>
          <%product = Product.find(item.product_id) %>
          <td><%= link_to "#{product.user_id.name}", user_path(product.user_id) %></td>
          <td> <%= item.quantity %> </td>
          <td><%= item.created_at %></td>
          <td><%= product.price %></td>
        </tr>
      <%end %>
      </tbody>
    </table>

  </div>


  <%= link_to "Tripsy Homepage", root_path, class: "btn btn-primary btn-lg float-right" %>
