<div class="submit-page flex-column">
  <h2>Thank you for your order!</h2>
  <h3>Look forward to exploring the world with you!</h3>

<img src="https://marsmantravel.com.ph/wp-content/uploads/theworld.jpg" alt="explore the world" class="img-fluid">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Tour</th>
        <th>Tour Guide</th>
        <th>Date</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <%@items.each do |item| %>
        <tr>
          <%product = Product.find(item.product_id) %>
          <td> <%= link_to product.name, product_path(product.id)%> </td>
          <td><%= link_to "#{User.find(product.user_id).username}", user_path(product.user_id) %></td>
          <td><%= item.created_at %></td>
          <td><%= product.price %></td>
          <td><%= @order.status %></td>
        </tr>
      <%end %>
      <p> Total: <%=@order.total_price %></p>
      </tbody>
    </table>

  <%= link_to "Tripsy Homepage", root_path, class: "btn btn-primary btn-lg float-right" %>


</div>


