<% if @payment_info.errors.any? %>
  <ul class="errors">
    <% @payment_info.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @payment_info, class: 'create-payment' do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "credit card name" %>
    <%= f.text_field :credit_card_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "credit card number" %>
    <%= f.text_field :credit_card_number, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "EXP" %>
    <%= f.text_field :credit_card_exp, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "CVV" %>
    <%= f.text_field :credit_card_CVV, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "zip code" %>
    <%= f.text_field :zip_code, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit Order", class: "btn btn-primary" %>
  </div>
<% end %>


