
<!--<div>-->
  <%#= link_to image_tag("#{@product.photo_url}", alt: "#{@product.name}", class: "product-image-show") %>
<!--</div>-->
<div class="container product-show-view">

  <div class="card mb-3 product-show-card" style="min-width: 100%; border:none;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag("#{@product.photo_url}", alt: "#{@product.name}", class: "card-img product-show-img") %>
      </div>
      <div class="col-md-8">
        <div class="card-body product-card-body-show">
          <% if @product.avg_rating %>
            <p class="card-title">
            <% @product.avg_rating.times do%>
              <span> ★ </span>
            <% end %>
            </p>
          <% else %>
            <p class="text-muted"><small>No ratings yet, be the first!</small></p>
          <% end %>
          <h2 class="card-title"><%= @product.name %></h2>
          <p class="card-text"><%= @product.description %></p>
          <% if @product.active %>
            <p class="card-text"><strong>Available: <%= @product.stock %></strong></p>
          <% else %>
            <p class="card-text"><strong>Currently Unavailable</strong></p>
          <% end %>
          <p class="card-text"><strong>$<%= @product.price %></strong></p>

          <p class="text-muted"><small>Categories: <% @product.categories.each do |category| %>
            <%= link_to category.name, category_path(category) %>
          <%end%></small></p>

          <%= link_to "Add to Cart", add_to_cart_path, class: "btn btn-primary", method: :post %>
          <%= link_to "Rate Trip", new_product_review_path(@product), class: "btn btn-secondary" %>

        </div>
      </div>
    </div>
  </div>
</div>


<br>
<h3>Reviews</h3>
<hr>
<br>
<div class="grid-container">
    <% @product.reviews.each do |review| %>
<!--    <div class="row">-->
      <div class="">
        <div class="card">
          <div class="card-body">
            <div class="grid-item">
                <% review.rating.times do%>
                  <span> ★ </span>
                <% end %>
                </div>
              <div><p><%= review.text_review %></p></div>
          </div>
        </div>
      </div>
<!--    </div>-->
  <% end %>
</div>


<%# if @product.stock > 0 %>
<%#= form_with model: @order_item, url: {:action => "add_to_cart"} do |f| %>

<%#= f.label "Quantity: "%>
<%#= f.select(:quantity, (1..@product.stock).map(&:to_i), {}) %>

<%#= f.submit "Add to Cart", class: "btn btn-primary" %>
<%# end %>
<%# else %>
<!--  <p>Sorry, this item is out of stock.</p>-->
<%# end %>