<section>
  <%= link_to image_tag("#{@product.photo_url}", alt: "#{@product.name}", class: "product-image-show") %>
</section>
<section>
  <h1><%= @product.name %></h1>
  <p><%= @product.description %></p>
  <p>$<%= @product.price %></p>
</section>

<%= link_to "Edit Tour", edit_product_path(@product), class: "btn btn-primary" %>
<%= link_to "Add to Cart", "", class: "btn btn-primary" %>
<%= link_to "See All Tours", products_path, class: "btn btn-primary" %>

<!--<section class="product-reviews">-->
<!--  <h3>Reviews</h3>-->
    <%# @product.reviews.each do |review| %>
<!--      <section>-->
<!--        <p><%#= review.title %></p>-->
<!--        <p> Reviewer: <%#= review.name %></p>-->
        <%# todo: updating rating system %>
<!--        <p><%#= review.rating %></p>-->
<!--        <p><%#= review.description %></p>-->
<!--      </section>-->
    <%# end %>
<!--</section>-->

