
<div class="container">
  <h2>Trip Review</h2>
</div>

<div class="container">
  <%= form_with model: @review, url:product_reviews_path(@product) do |f| %>
    <ul class="rate-area">
      <% 5.times do |i| %>
        <%= f.radio_button :rating, i + 1, id: "#{i + 1}-Star" %>
        <%= label :rating, 'Rate the trip', for: "#{i + 1}-Star" %>
      <% end %>
    </ul>


    <div class="form-group">
      <%= f.label :Review %>
      <%= f.text_area :text_review , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Submit Review", class: "btn btn-primary" %>
    </div>
<% end %>
</div>

